body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.door {
    width: 60px;
    height: 60px;
    background-color: #e74c3c;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
}

.door:hover {
    background-color: #c0392b;
}

.content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.content-inner {
    text-align: center;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

#prize-image {
    max-width: 100%;
    height: auto;
}

#prize-text {
    margin-top: 20px;
}

/* Estilos para o título do calendário */
.calendar-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

/* Estilos para o calendário usando CSS Grid */
.calendar {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Define o tamanho das colunas */
    gap: 10px; /* Espaço entre as portas */

}


/* Estilos para as portas do calendário */
.door {
    width: 100%; /* As portas ocuparão toda a largura da coluna */
    height: 60px; /* Altura fixa das portas */
    background-color: #e74c3c;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    overflow: hidden;
}

.door:hover {
    background-color: #c0392b;
}

/* Estilos CSS anteriores permanecem os mesmos */

/* Adicione este estilo para as portas abertas */
.door.opened {
    background-color: #27ae60; /* Cor para portas abertas */
    cursor: not-allowed; /* Altera o cursor para indicar que a porta já foi aberta */
    pointer-events: none; /* Impede cliques em portas já abertas */
}
